/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

*:root{
    --color-primary: rgb(56 228 248);
    --color-secondary: rgb(12 40 73);
}

/* @font-face {
    font-family: 'Hatton';
    src: url('./assets/fonts/PP\ Hatton\ Medium\ 500.otf'),  format('truetype');
    font-weight: Medium;
    font-style: normal;
} */

@font-face {
    font-family: 'MyWebFont';
    src:  url('./assets/fonts/Tt_commons_pro.otf') format('woff2');
    font-family: 'Hatton';
    src:  url('./assets/fonts/Hatton.otf') format('woff2'), 
       
}

