.date-container{
    width: 30%;
    font-size: 1.5rem;    
}

label{
    font-family: Hatton;
}

h2{
    font-family: Hatton;
}

.info{
    font-size: 1.5rem;    
}

.not-found-blocks-container{
    width: 100%;    
    text-align: center;
}

.albertus-img{
    width: 210px;
    height: 228px;
    margin: 0 auto;    
}

@media (max-width: 425px) {
    .container > h2{            
        text-align: center;
    }
    .date-container{
        width: 50%;
    }
}

