.date-container{
    width: 30%;
    font-size: 1.5rem;    
}

label{
    font-family: Hatton;
}

h2{
    font-family: Hatton;
}

.not-found-blocks-container{
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;
}

.albertus-img{
    width: 210px;
    height: 228px;
    margin: 0 auto;    
}
