
nav{        
    padding: 1.5rem 2.5rem; 
    background-color: var(--color-primary);
}

.navbar-collapse{
    flex-grow: 0;
}

.btn-navbar:hover{
    color: white;
    
    background-color: var(--color-secondary);
}

.btn-navbar{
    font-family: Hatton;
}

button{    
    font-family: Hatton;
}

.logo{
    height: 38px;    
}

@media (max-width: 425px) {
    nav{            
        padding: 1.5rem;         
    }
}

@media (max-width: 320px) {
    nav{            
        padding: 1rem;         
    }
    .logo{
        height: 30px;    
    }
}