<app-navbar></app-navbar>
<div class="container-form">    
    <form
        class="login-form"
        [formGroup]="formRegister"
        (submit)="registerUser()"
    >   
        <h2 class="text-center mb-5 fs-1">Registrate</h2> 
        <div class="w-full mb-3">
            <span class="d-flex flex-column">                
                <input
                    formControlName="name"
                    id="float-input-name"
                    type="text"
                    placeholder="Nombre"
                    pInputText
                    class="font-bold inputs-login"
                    autocomplete="off"
                />                            
            </span>
        </div>
        <div *ngIf="formRegister.get('name')!.touched ">
            <p *ngIf="formRegister.get('name')!.hasError('required')">
              Este campo es requerido
            </p>            
        </div>   
        <div class="w-full mb-3">
            <span class="d-flex flex-column">               
                <input
                    formControlName="email"
                    id="float-input-email"
                    type="email"
                    placeholder="Correo electronico"
                    pInputText
                    class="font-bold inputs-login"
                    autocomplete="on"
                />
                            
            </span>
        </div>
        <div *ngIf="formRegister.get('email')!.touched " class="">
            <p *ngIf="formRegister.get('email')!.hasError('email')">
              Ingrese un formato de email válido
            </p> 
            <!-- <p *ngIf="formRegister.get('name')!.hasError('required')">
                Este campo es requerido
            </p>             -->
        </div>
        <div class="w-full mb-3">
            <span class="d-flex flex-column">                
                <input
                    formControlName="password"
                    id="float-input-password"
                    type="password"
                    placeholder="Contraseña min 6 carácteres"
                    pInputText
                    class="font-bold inputs-login"
                />
                
            </span>
        </div> 
        <div *ngIf="formRegister.get('password')!.touched " class="">
            <p *ngIf="formRegister.get('password')!.hasError('pattern')">
            Ingrese un contraseña valida. <br/>
            * Mínimo 6 carácteres.<br/>
            * Mínimo una letra Mayúscula.<br/>
            * Mínimo una letra Minúscula.<br/>
            * Mínimo un carácter especial. <br/>  
            </p>            
        </div>
        <div class="w-full text-center mt-2">
            <span  class="warning" *ngIf="!formRegister.valid">*Todos los campos son requeridos</span>
        </div>       
        <div class="text-center mt-5">
            <button
                *ngIf="formRegister.valid"                
                pButton
                type="submit"            
                class="btn-register"
            >Registrarse
            </button>
        </div>        
        <div class="w-full text-center mt-5 register">
            <a [routerLink]="[ '/user/login' ]">Inicia Sesion</a>
        </div>
    </form>
</div>
  
