<div class="main-container">
  <app-navbar></app-navbar>
  <div class="welcome-container">
    <div class="fs-2">
      Bienvenido,<br />
      <span class="">Andres</span>
    </div>
    <div>
      Gestiona tus aplicaciones, <br />
      todo desde un solo lugar.
    </div>
    <div>
      <img
        src="../../../../assets/images/welcome-illustration.png"
        alt="welcome"
      />
    </div>
  </div>
  <div class="application-container">
    <div class="create-app-container">
      <span>Tus Aplicativos</span>
      <button type="button" class="btn btn-light" (click)="register()">
        Registrar Aplicativo
      </button>
    </div>
    <div class="container">
      <div *ngFor="let app of application" class="row align-items-center">
        <button type="button" class="card col-5 mt-3 mx-2">
          {{ app.nameApplication }}
        </button>
      </div>
    </div>
  </div>
</div>
