<app-navbar></app-navbar>
<div class="main-container">
  <div class="welcome-container">
    <div class="fs-3">
      Bienvenido,<br />
      <span class="">{{user.displayName}}</span>
    </div>
    <div class="fs-3">
      Gestiona tus aplicaciones, <br />
      todo desde un solo lugar.
    </div>
    <div>
      <img
        src="../../../../assets/images/welcome-illustration.png"
        alt="welcome"
      />
    </div>
  </div>
  <div class="application-container">
    <div class="create-app-container">
      <span>Tus Aplicativos</span>
      <button type="button" class="btn btn-light" (click)="register()">
        Registrar Aplicativo
      </button>
    </div>
    <div class="cards-list">
      <div *ngFor="let app of application" class="">
        <button type="button" class="card col-5 mt-3 mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal"(click)="showApp(app.applicationID)">
          {{ app.nameApplication }} <span class="fs-5">Token: {{app.applicationID}}</span> 
        </button>        
      </div>
    </div>
  </div>
</div>
<app-modal [application]="currentApp"></app-modal>
<app-footer></app-footer>
