.main-container{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;

}

.welcome-container{
    width: 100%;
    height: 30%;
    padding: 0 3rem;
    font-family: Hatton;
    font-weight: bold;
    color: var(--color-secondary);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secondary);
}

.welcome-container > div > span {
    font-size: 5rem;
}

.welcome-container > div:nth-child(2)   {
    font-size: 2rem;
}

.welcome-container > div:nth-child(3)   {
    height: 95%;
    align-self: end;
}

.welcome-container img   {
    height: 90%;
}

.application-container{
    width: 100%;
    height: 70%;
    padding: 2.5rem;
    display: flex;        
    flex-direction: column;

}

.create-app-container{
    width: 100%;
    height: 30%;
    padding: 0 5rem;
    margin-bottom: 1.5rem;   
    font-size: 5rem;
    font-weight: 500;
    color: var(--color-secondary);    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.create-app-container > button{ 
    padding: 1.2rem 1.5rem;   
    font-size: 2rem;
    font-family: Hatton;
    color: var(--color-secondary);
    border-radius: 1rem;
    border: 1px solid var(--color-secondary);
}

.create-app-container > button:hover{    
    background-color: var(--color-secondary);
    color: white;
}

.card-application-container{    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items:center;
}

.card{
    width: 290px;
    height: 205px;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--color-secondary);
    box-shadow: 10px 10px 17px -1px rgba(0,0,0,0.14);
    -webkit-box-shadow: 10px 10px 17px -1px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 17px -1px rgba(0,0,0,0.14);
}

.card:hover{
    background-color: white;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    transition: ease-in-out;
    transform:scale(1.1);
    transition: ease-in-out;
}