<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="updateInfo()"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formApplication" (submit)="editApplication(application.applicationID)" id="appDetailForm">
          <input type="text" class="form-control modal-title" value={{application?.nameApplication}}
                    formControlName="appName"
                    id="float-input-appName"
          >
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Token: </label>
            <br>
            <span>{{application?.applicationID}}</span>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Descripción: </label>            
            <textarea class="form-control" id="message-text" value={{application?.description}}
            formControlName="appDescription"
            ></textarea>
          </div>
        </form>


        <div class="d-flex">
          <div class="mb-3 me-4">
            <label for="recipient-name" class="col-form-label">Creado: </label>
            <br>
            <span>{{application?.creationDate}}</span>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Modificado: </label>
            <br>
            <span>{{application?.modificationDate}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-danger" (click)="deleteApp(application.applicationID)">Eliminar</button>
        <button form="appDetailForm" type="submit" class="btn btn-success"               
          pButton
          type="submit"            
          class="btn btn-success"
          *ngIf="formApplication.get('appName')!.dirty || formApplication.get('appDescription')!.dirty"
        >
          Editar
        </button>          
        <a [routerLink]="['report/', application?.applicationID]" class="btn btn-info" data-bs-dismiss="modal">Generar Reporte</a>
      </div>
    </div>
  </div>
</div>
