.footer-container{
    width: 100%;       
    background-color: white;
    position: fixed;
    bottom: 0;
}

footer{
    width: 80%;
    margin: 0 auto;
}

.redes{
    color: var(--color-secondary);
}