<app-navbar></app-navbar>
<div class="container-form">    
    <form
        class="login-form"
        [formGroup]="formLogin"
        (submit)="login()"
    >   
        <h2 class="text-center mb-5 fs-1">Inicia Sesion</h2>    
        <div class="w-full mb-5">
            <span class="d-flex flex-column">                
                <input
                    formControlName="name"
                    id="float-input-name"
                    type="text"
                    placeholder="Nombre"
                    pInputText
                    class="font-bold inputs-login"
                    autocomplete="off"
                />                            
            </span>
        </div>
        <div class="w-full">
            <span class="d-flex flex-column">               
                <input
                    formControlName="email"
                    id="float-input-email"
                    type="email"
                    placeholder="Correo electronico"
                    pInputText
                    class="font-bold inputs-login"
                    autocomplete="off"
                />
                            
            </span>
        </div>
        <div class="w-full mt-5">
            <span class="d-flex flex-column">                
                <input
                    formControlName="password"
                    id="float-input-password"
                    type="password"
                    placeholder="Contraseña"
                    pInputText
                    class="font-bold inputs-login"
                />
                
            </span>
        </div> 
        <div class="w-full text-center mt-5">
            <span  class="warning" *ngIf="!formLogin.valid">*Todos los campos son requeridos</span>
        </div>       
        <div class="text-center mt-5">
            <button
                *ngIf="formLogin.valid"                
                pButton
                type="submit"            
                class="btn-register"
            >Iniciar sesion
            </button>
        </div>
        <div class="w-full text-center mt-5">
            <span (click)="resetPassword()" class="">He olvidado mi contraseña</span>
        </div>
        <div class="w-full text-center mt-5 register">
            <a href="">Registrate</a>
        </div>
    </form>
</div>
  
